  <a href="index"><img width="140" height="30" src="/assets/homePageIcon.png" /></a>

	<span style="padding-left:200px;">
		Username: <input type="text" />
		Password: <input type="password" />
		<a href="index"><input type="submit" value="Login" /></a>
  </span>

