<%= render 'index_header' %>


  <table border="1">
    <tr>
      <td>
      	<table>
	  		  <tr>
	  		  	<td><img height="100px" width="90px" src="/assets/androidmarker.png" /></td>
	  		  </tr>
	  		</table>
				<table style="text-align:center;" border="1">
					<tr>
						<td>
							<a href="new_message"> New Message</a>
						</td>
					</tr>
					<tr>
						<td>
							Inbox
						</td>
					</tr>
					<tr>
						<td>
							Outbox
						</td>
					</tr>
					<tr>
						<td>
							Sent Items
						</td>
					</tr>
					<tr>
						<td>
							Drafts
						</td>
					</tr>
				</table>
				<table style="text-align:center;" border="1" width="100px">
					<tr>
						<td>
							Info
						</td>
					</tr>
					<tr>
						<td>
							Comments
						</td>
					</tr>
					<tr>
						<td>
							Likes
						</td>
					</tr>
					
				</table>
			</td>
			<td>
				<table width="500px">
					<tr>
					  <td colspan="2"><h3>Check what's for sale</h3><hr /></td>
				  </tr>
				  <tr>
						<td width="30px"><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 1 lorem ipsum<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 2 lorem ipsum wohoooo<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 3 lorem ipsum<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 4 lorem ipsum its so hottt today<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 5 lorem ipsum<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 6 lorem ipsum palit namo sako yuta<hr /></td>
					</tr>
				
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
						  <a href="property_index">Manage Inventory</a>
						</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
					<tr>
						<td>&nbsp</td>
					</tr>
				</table>
			</td>
		</tr>
  </table>
