<%= render 'index_header' %>

			<table width="800px" border="1">
				  <tr>
						<td width="100px" height="50px" style="text-align:center;"><a href="property_detail">Property 1</td>
						<td>Property 1 lorem ipsum</a></td>
						<td style="text-align:center;">Purchase a slot</td>
					</tr>
				  <tr>
						<td width="100px" height="50px" style="text-align:center;"><a href="property_detail">Property 2</td>
						<td>Property 2 lorem ipsum wohoooo</td>
					</tr>
				  <tr>
						<td width="100px" height="50px" style="text-align:center;"><a href="property_detail">Property 3</td>
						<td>Property 3 lorem ipsum</td>
					</tr>
				  <tr>
						<td width="100px" height="50px" style="text-align:center;"><a href="property_detail">Property 4</td>
						<td>Property 4 lorem ipsum its so hottt today</td>
					</tr>
				  <tr>
						<td width="100px" height="50px" style="text-align:center;"><a href="property_detail">Property 5</td>
						<td>Property 5 lorem ipsum</td>
					</tr>
				  <tr>
						<td width="100px" height="50px" style="text-align:center;"><a href="property_detail">Property 6</td>
						<td>Property 6 lorem ipsum palit namo sako yuta</td>
					</tr>
				
					
				</table>

