<%= render 'index_header' %>

<table width="800px" border="1">
	<tr>
		<td style="text-align:center;" width="200px">
			<table border="1" >
				<tr>
					<td width="200px" height="100px">
						Property 1
					</td>
				</tr>
				<tr>
					<td>
						<a href="new_message">Send me a message</a>
					</td>
				</tr>
				<tr>
					<td>
						Upload Picture
					</td>
				</tr>
				<tr>
					<td>
						<a href="user_profile">View User</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="property_index">Manage Inventory</a>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table border="1" width="590px">
				<tr>
					<td>
						Size
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>
				<tr>
					<td>
						Location
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>
				<tr>
					<td>
						Price
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>						
				<tr>
					<td colspan="2" style="text-align:center;">
						BEDROOMS and BATHROOMS
					</td>
				</tr>		
				<tr>
					<td>
						No. of Bedrooms
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>									
				<tr>
					<td>
						No. of Bathrooms
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>		
				<tr>
					<td colspan="2" style="text-align:center;">
						SIZE and AGE
					</td>
				</tr>	
				<tr>
					<td>
						Total Floor Area
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>									
				<tr>
					<td>
						Total Lot Area
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>		
				<tr>
					<td>
						Age of Property
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>									
				<tr>
					<td>
						Storey
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>	
				<tr>
					<td colspan="2" style="text-align:center;">
						RECREATION and DINING
					</td>
				</tr>	
				<tr>
					<td>
						With Lawn
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>									
				<tr>
					<td>
						With Kitchen Area
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>		
				<tr>
					<td>
						With Dining Area
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>									
				<tr>
					<td>
						With Living Room
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>		
				<tr>
					<td colspan="2" style="text-align:center;">
						GARAGE and BASEMENT
					</td>
				</tr>	
				<tr>
					<td>
						With Garage
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>									
				<tr>
					<td>
						With Basement
					</td>
					<td>
						<input type="text" />
					</td>					
				</tr>		
					
			</table>
		</td>
	</tr>
</table>
