<%= render 'index_header' %>


  <table border="1">
    <tr>
      <td>
      	<table>
	  		  <tr>
	  		  	<td><img height="100px" width="90px" src="/assets/androidmarker.png" /></td>
	  		  </tr>
	  		</table>
				<table style="text-align:center;" border="1">
					<tr>
						<td height="200px">
							<a href="property_index"> View Inventory</a>
						</td>
					</tr>
				</table>
				<table style="text-align:center;" border="1" width="110px">
					<tr>
						<td>
							Info
						</td>
					</tr>
					<tr>
						<td>
							Comments
						</td>
					</tr>
					<tr>
						<td>
							Likes
						</td>
					</tr>
					
				</table>
			</td>
			<td>
				<table width="500px">
					<tr>
					  <td colspan="2"><h3>Post a message on wall</h3><hr /></td>
				  </tr>
				  <tr>
						<td width="30px"><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 1 lorem ipsum<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 2 lorem ipsum wohoooo<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 3 lorem ipsum<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 4 lorem ipsum its so hottt today<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 5 lorem ipsum<hr /></td>
					</tr>
				  <tr>
						<td><img width="30px" height="30px" src="/assets/androidmarker.png" /></td>
						<td>Post 6 lorem ipsum palit namo sako yuta<hr /></td>
					</tr>
				
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
						  Report User
						</td>
					</tr>
					<tr>
						<td>Like User</td>
					</tr>
					<tr>
						<td height="200px">&nbsp</td>
					</tr>
				</table>
			</td>
		</tr>
  </table>
